server:
  port: 8080

spring:
  application:
    name: mymodulith

  datasource:
    url: jdbc:sqlite:./data/mymodulith.db
    driver-class-name: org.sqlite.JDBC

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect

logging:
  level:
    org.springframework.modulith: DEBUG